body{
    background-color: #155263;
}

#title{
    color: #ff9a3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    position: relative;
    left: 50%;
    margin-left: -7%;
}

#diff-head{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    position: absolute;
    top: 10%;
    left: 2%; 
}

#diff-arrow{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    transform: scaleY(-1);

    position: absolute;
    top: 13.7%;
    left: 6.6%; 
}

#diff-body{
    color: #ffc93c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
    display: none;

    position: absolute;
    top: 16.7%;
    left: 6%;
}

#difficulties:hover #diff-body{
    display: block;
}

#easy:hover{
    font-size: 128%;
}

#medium:hover{
    font-size: 128%;
}

#hard:hover{
    font-size: 128%;
}

#chosen-diff{
    color: #ffc93c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    position: absolute;
    left: 25%;
    top: 10%;

    display: none;
}

table{
    border: 3px solid #ff9a3c;
    border-collapse: collapse;
}

td{
    border: 1px solid #ff9a3c;
    border-collapse: collapse;

    padding-left: 4%;
    font-size: 150%;
}

#puzzle{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    position: absolute;
    left: 25%;
    top: 19%;

    height: 55%;
    width: 30%;
}

.right{
    border-right: 3px solid #ff9a3c;  
}

.bottom{
    border-bottom: 3px solid #ff9a3c;  
}

.right-bottom{
    border-bottom: 3px solid #ff9a3c; 
    border-right: 3px solid #ff9a3c;  
}

#light{
    color: #ffc93c;
}