body{
    background-color: #155263;
}

#title{
    color: #ff9a3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    position: relative;
    left: 50%;
    margin-left: -7%;
}

#diff-head{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    position: absolute;
    top: 14%;
    left: 5%; 
}

#diff-arrow{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    transform: scaleY(-1);

    position: absolute;
    top: 18.6%;
    left: 10.5%; 
    font-size: 130%;
}

#diff-body{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
    display: none;

    position: absolute;
    top: 22%;
    left: 9%;
}

#difficulties:hover #diff-body{
    display: block;
}

#easy:hover{
    font-size: 170%;
}

#medium:hover{
    font-size: 170%;
}

#hard:hover{
    font-size: 170%;
}

#chosen-diff{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    position: absolute;
    left: 25%;
    top: 10%;

    display: none;
}

table{
    border: 3px solid #ff9a3c;
    border-collapse: collapse;
}

td{
    border: 1px solid #ff9a3c;
    border-collapse: collapse;

    padding-left: 4%;
    font-size: 150%;
}

#puzzle{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    position: absolute;
    left: 25%;
    top: 19%;

    height: 55%;
    width: 30%;
}

.right{
    border-right: 3px solid #ff9a3c;  
}

.bottom{
    border-bottom: 3px solid #ff9a3c;  
}

.right-bottom{
    border-bottom: 3px solid #ff9a3c; 
    border-right: 3px solid #ff9a3c;  
}

#light{
    color: #ffc93c;
}

#help-tab{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
    display: none;

    position: absolute;
    top: 14%;
    left: 5%;
}

#congratulations{
    color: #ff6f3c;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
    display: none;

    position: absolute;
    top: 72%;
    left: 28%;
}